html {
  font-family: sans-serif;
  font-size:   1.2rem;
}
body {
  margin:     auto;
  max-width:  39rem;
  padding:    .5rem;
}
input {
  font-size: initial;
}
h1[id]:hover::after,
h2[id]:hover::after,
h3[id]:hover::after {
  content: " #" attr(id);
  opacity: 30%;
}

@media (prefers-color-scheme: dark) {
  html, input, textarea {
    background: black;
    border-color: hsl(38.8, 100%, 45%);
    color:      hsl(120,100%,35%);
  }
  input[type=submit] {
    background: hsl(38.8, 100%, 40%);
    color: black;
  }
  a:any-link {
    color: hsl(38.8, 100%, 45%);
  }
}
